@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  * body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 100%;
    height: 4em;
    background-color: #fff;
    border-bottom: ridge #87CEFA;
    background: linear-gradient(#fdfdfd, #87CEEB);
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .container .nav_bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
  }
  .container .nav_bar .rand .logo {
    height: 3em;
  }
  .container .nav_bar .burger {
    display: none;
  }
  .container .nav_bar .colla .close {
    display: none;
  }
  .container .nav_bar .colla .nav .item {
    padding: 0 20px;
  }
  .container .nav_bar .colla .nav .item .link {
    color: #000;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
  }
  .container .nav_bar .colla .nav .item .link:hover {
    color: #fff;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .container {
    max-width: 100%;
    height: 4em;
    margin: 0;
    border-bottom: ridge #87CEFA;
    background: linear-gradient(#fdfdfd, #87CEEB);
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .container .nav_bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container .nav_bar .rand .logo {
    height: 3em;
    margin-top: 0.5em;
  }
  .container .nav_bar .burger {
    display: block;
    border: none;
  }
  .container .nav_bar .burger .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .container .nav_bar .colla {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(134, 206, 235, 0.5);
    color: #fff;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .container .nav_bar .colla a {
    padding: 8px 50px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    transition: all 0.3s ease-in-out;
  }
  .container .nav_bar .colla a:hover {
    color: #111;
    background-color: #007BFF;
    border-radius: 5px;
    transform: scale(1.1);
  }
  .container .nav_bar .colla ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .container .nav_bar .colla.active {
    left: 0;
  }
  .container .nav_bar .colla .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
}
@media screen and (max-width: 599px) {
  .container {
    max-width: 100%;
    height: 4em;
    background: linear-gradient(#fdfdfd, #87CEEB);
    border-bottom: ridge #87CEFA;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .container .nav_bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container .nav_bar .rand .logo {
    height: 3em;
    margin-top: 0.5em;
  }
  .container .nav_bar .burger {
    display: block;
    border: none;
  }
  .container .nav_bar .burger .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .container .nav_bar .colla {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(134, 206, 235, 0.5);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .container .nav_bar .colla a {
    padding: 8px 50px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .container .nav_bar .colla a:hover {
    color: #111;
  }
  .container .nav_bar .colla ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .container .nav_bar .colla.active {
    left: 0;
  }
  .container .nav_bar .colla .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: 100vh;
    background-image: url(../../.././public/img/molengeek_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header .carousel {
    position: relative;
    width: 80%;
    height: 50vh;
    overflow: hidden;
    margin: 10em 10rem;
    border-radius: 10px;
  }
  header .carousel .carousel-item {
    display: none;
    width: 100%;
  }
  header .carousel .carousel-item.active {
    display: block;
  }
  header .carousel .carousel-item.active img {
    width: 100%;
    height: 50vh;
  }
  header .carousel .carousel-item.active .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50vh 100%;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  header {
    width: 100%;
    height: auto;
    background-color: #c4e5f5;
  }
  header .carousel {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 5em auto;
    border-radius: 8px;
  }
  header .carousel .carousel-item {
    display: none;
  }
  header .carousel .carousel-item.active {
    display: block;
  }
  header .carousel .carousel-item.active img {
    width: 100%;
    height: 40vh;
  }
  header .carousel .carousel-item.active .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40vh;
    text-align: center;
    padding-top: 8em;
    white-space: nowrap;
  }
  header .carousel .carousel-item.active .overlay h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 599px) {
  header {
    width: 100%;
    height: auto;
    background-color: #c4e5f5;
  }
  header .carousel {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 6em auto;
    border-radius: 5px;
  }
  header .carousel .carousel-item {
    display: none;
    width: 100%;
  }
  header .carousel .carousel-item.active {
    display: block;
  }
  header .carousel .carousel-item.active img {
    width: 100%;
    height: 30vh;
  }
  header .carousel .carousel-item.active .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 30vh;
    text-align: center;
    padding-top: 6em;
    white-space: nowrap;
  }
  header .carousel .carousel-item.active .overlay h2 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=app.css.map */
