/* Error: Indenting at the beginning of the document is illegal.
 *   ,
 * 1 |  // Pour les écrans de plus de 1024px
 *   | ^
 *   '
 *   src/sass/modules/_navbar.sass 1:1  @import
 *   src/sass/modules/_style.sass 2:9   @import
 *   src/sass/app.sass 4:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Indenting at the beginning of the document is illegal.\a   \2577 \a 1 \2502   // Pour les \e9 crans de plus de 1024px\a   \2502  ^\a   \2575 \a   src/sass/modules/_navbar.sass 1:1  @import\a   src/sass/modules/_style.sass 2:9   @import\a   src/sass/app.sass 4:9              root stylesheet";
}
