@media screen and (min-width: 1024px) {
  .container {
    max-width: 100%;
    height: 4em;
    background-color: #fff;
    border-bottom: ridge rgba(0, 0, 0, 0.1294117647);
  }
  .container .nav_bar {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: none;
  }
  .container .nav_bar .rand {
    height: 100%;
    padding-right: 5em;
    border-right: 2px solid rgba(0, 0, 0, 0.1294117647);
  }
  .container .nav_bar .rand .logo {
    height: 3em;
    border-radius: 10px;
    margin-top: 0.5em;
  }
  .container .nav_bar .burger {
    display: none;
  }
  .container .nav_bar .colla {
    height: 100%;
    padding-top: 0.7em;
    border-right: 2px solid rgba(0, 0, 0, 0.1294117647);
  }
  .container .nav_bar .colla .close {
    display: none;
  }
  .container .nav_bar .colla .nav .item {
    padding: 0 20px;
  }
  .container .nav_bar .colla .nav .item .link {
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 8px 8px 8px 8px;
    font-size: 13px;
    color: #071a2b;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 0.7em;
  }
  .container .nav_bar .colla .nav .item .link:hover {
    color: #fff;
  }
  .container .nav_bar .btn-cont a {
    color: #818181;
    font-size: 15px;
    margin-top: 0.7em;
    text-decoration: none;
    cursor: pointer;
  }
  .container .nav_bar .btn-cont a:hover {
    color: #071a2b;
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .container {
    max-width: 100%;
    height: 4em;
    margin: 0;
    background-color: #fff;
    border-bottom: ridge rgba(0, 0, 0, 0.1294117647);
  }
  .container .nav_bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container .nav_bar .rand {
    height: 100%;
  }
  .container .nav_bar .rand .logo {
    height: 3em;
    margin-top: 0.5em;
  }
  .container .nav_bar .burger {
    display: block;
    border: none;
  }
  .container .nav_bar .burger .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .container .nav_bar .colla {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(106, 116, 120, 0.5);
    color: #fff;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .container .nav_bar .colla a {
    padding: 8px 50px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    transition: all 0.3s ease-in-out;
  }
  .container .nav_bar .colla a:hover {
    color: #111;
  }
  .container .nav_bar .colla ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .container .nav_bar .colla.active {
    left: 0;
  }
  .container .nav_bar .colla .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .container .nav_bar .btn-cont a {
    color: #818181;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
  .container .nav_bar .btn-cont a:hover {
    color: #ffffff;
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .container {
    max-width: 100%;
    height: 4em;
    background-color: #fff;
    border-bottom: ridge rgba(0, 0, 0, 0.1294117647);
  }
  .container .nav_bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .container .nav_bar .rand .logo {
    height: 3em;
    margin-top: 0.5em;
  }
  .container .nav_bar .burger {
    display: block;
    border: none;
  }
  .container .nav_bar .burger .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  .container .nav_bar .colla {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: rgba(106, 116, 120, 0.5);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  .container .nav_bar .colla a {
    padding: 8px 50px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .container .nav_bar .colla a:hover {
    color: #111;
  }
  .container .nav_bar .colla ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .container .nav_bar .colla.active {
    left: 0;
  }
  .container .nav_bar .colla .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .container .nav_bar .btn-cont a {
    color: #818181;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
  }
  .container .nav_bar .btn-cont a:hover {
    color: #ffffff;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    width: 100%;
    height: 47.5em;
    background-color: #fff;
  }
  .content {
    display: flex;
    align-items: center;
  }
  .content .textTitle {
    width: 50em;
    margin-left: 5em;
    word-break: break-all;
  }
  .content .textTitle input {
    background-color: #ed2d4a;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
  }
  .content .textTitle input:hover {
    border: outset;
    border: 3px solid #ed2d4a;
  }
  .content .carousel {
    position: relative;
    width: 85%;
    height: 50vh;
    overflow: hidden;
    margin: 10em 10rem;
    border-radius: 10px;
    box-shadow: 4px 2px 15px rgba(0, 0, 0, 0.5);
  }
  .content .carousel .carousel-item {
    display: none;
    width: 100%;
  }
  .content .carousel .carousel-item.active {
    display: block;
  }
  .content .carousel .carousel-item.active img {
    width: 100%;
    height: 50vh;
  }
  .content .carousel .carousel-item.active .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50vh 100%;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
  }
  .content .carousel .btn {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .content .carousel .btn .prev {
    osition: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 8.5em;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
  }
  .content .carousel .btn .next {
    osition: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 8.5em;
    margin-left: 7em;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
  }
  .content .carousel .btn .prev {
    left: 10px;
  }
  .content .carousel .btn .next {
    right: 10px;
  }
  .content .carousel-indicateur {
    position: absolute;
    bottom: 210px;
    left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .content .carousel-indicateur .dot {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .content .carousel-indicateur .dot.active {
    background-color: #ddd;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .content .textTitle {
    width: 40em;
    margin-left: 9em;
    margin-top: 3em;
    word-break: break-all;
  }
  .content .textTitle input {
    background-color: #ed2d4a;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
  }
  .content .textTitle input:hover {
    border: outset;
    border: 3px solid #ed2d4a;
  }
  .content .carousel {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 5em auto;
    border-radius: 8px;
  }
  .content .carousel .carousel-item {
    display: none;
  }
  .content .carousel .carousel-item.active {
    display: block;
  }
  .content .carousel .carousel-item.active img {
    width: 100%;
    height: 40vh;
  }
  .content .carousel .carousel-item.active .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40vh;
    text-align: center;
    padding-top: 8em;
    white-space: nowrap;
  }
  .content .carousel .carousel-item.active .overlay h2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 599px) {
  header {
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }
  header .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  header .content .textTitle {
    width: 50em;
    margin-left: 5em;
    margin-top: 3em;
  }
  header .content .textTitle p {
    display: none;
  }
  header .content .textTitle input {
    background-color: #ed2d4a;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
  }
  header .content .textTitle input:hover {
    border: outset;
    border: 3px solid #ed2d4a;
  }
  header .carousel {
    position: relative;
    width: 70%;
    height: 50vh;
    margin: 6em auto;
    border-radius: 5px;
  }
  header .carousel .carousel-item {
    display: none;
    width: 100%;
  }
  header .carousel .carousel-item.active {
    display: block;
  }
  header .carousel .carousel-item.active img {
    width: 100%;
    height: 30vh;
  }
  header .carousel .carousel-item.active .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 30vh;
    text-align: center;
    padding-top: 6em;
    white-space: nowrap;
  }
  header .carousel .carousel-item.active .overlay h2 {
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  main {
    margin: 0 10rem;
  }
  main .presentation {
    background-color: #fff;
    margin-top: 3rem;
    border-radius: 10px;
  }
  main .presentation .titreMain {
    padding: 15px;
  }
  main .presentation .titreMain h1 {
    font-size: 2em;
    text-align: center;
    padding: 30px 0;
  }
  main .presentation .imgPresent {
    padding: 15px;
    display: flex;
  }
  main .presentation .imgPresent img {
    width: 60%;
  }
  main .presentation .imgPresent p {
    margin-left: 10px;
    padding: 0 10px;
    word-break: break-all;
  }
  main .formation {
    margin-top: 50px;
  }
  main .formation h3 {
    text-align: center;
    margin-bottom: 50px;
    font-family: "Roboto", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #202520;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: linear-gradient(90deg, #2e3c44, #4d7c9a, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
  }
  main .formation .button-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  main .formation .button-wrapper .gradient-border-button {
    position: relative;
    padding: 1.2rem 2.4rem;
    font-size: 1.1rem;
    color: white;
    background: #1e293b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  main .formation .button-wrapper .gradient-border-button::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg, #60a5fa, #4206f4, #60a5fa);
    border-radius: 10px;
    z-index: -1;
    transition: opacity 0.3s ease;
    animation: borderRotate 4s linear infinite;
  }
  @keyframes borderRotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  main .formation .button-wrapper .gradient-border-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(96, 165, 250, 0.4);
  }
  main .formation .button-wrapper img {
    padding: 30px;
    width: 40%;
  }
  main .formation .courtes {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  main .formation .courtes p {
    padding: 30px;
    word-break: break-all;
  }
  main .formation .long {
    background-color: #fff;
    border-radius: 10px;
  }
  main .formation .long .longue p {
    padding: 30px;
    margin-top: 50px;
    word-break: break-all;
  }
  main .formation ul {
    padding-right: 25px;
  }
  main .formation ul li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  main .formation ul li a {
    text-decoration: none;
    color: #000;
  }
  main .contact {
    display: flex;
    margin: 3em 2em;
  }
  main .contact .formulaire {
    width: 40em;
    margin-left: 5em;
    border: 1px solid rgba(0, 0, 0, 0.0549019608);
    padding: 20px;
  }
  main .contact .formulaire .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .contact .formulaire .form span {
    display: flex;
    flex-direction: column;
  }
  main .contact .formulaire .form span input {
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #5c5a5a;
  }
  main .contact .formulaire .form span textarea {
    height: 5em;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #5c5a5a;
  }
  main .contact .formulaire .form .btn {
    width: 5em;
    border: 1px solid green;
    color: green;
    margin: 1em 12em;
  }
  main .contact .formulaire .form .btn:hover {
    background-color: green;
    color: #fff;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  main {
    margin: 0 3rem;
  }
  main .presentation {
    margin-top: 3rem;
    border-radius: 10px;
  }
  main .presentation .titreMain {
    padding: 10px;
  }
  main .presentation .titreMain p {
    text-indent: 5%;
  }
  main .presentation .imgPresent {
    display: flex;
    flex-wrap: wrap;
  }
  main .presentation .imgPresent img {
    width: 50%;
  }
  main .presentation .imgPresent p {
    margin-left: 10px;
    padding: 0 10px;
    text-indent: 10%;
    word-break: break-all;
  }
  main .formation {
    display: flex;
    flex-wrap: wrap;
  }
  main .formation .button-wrapper {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  main .formation .button-wrapper .gradient-border-button {
    position: relative;
    padding: 1.2rem 2.4rem;
    font-size: 1.1rem;
    color: white;
    background: #1e293b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  main .formation .button-wrapper .gradient-border-button::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg, #60a5fa, #4206f4, #60a5fa);
    border-radius: 10px;
    z-index: -1;
    transition: opacity 0.3s ease;
    animation: borderRotate 4s linear infinite;
  }
  @keyframes borderRotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  main .formation .button-wrapper .gradient-border-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(96, 165, 250, 0.4);
  }
  main .formation .button-wrapper img {
    padding: 30px;
    width: 50%;
  }
  main .formation .courtes {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  main .formation .courtes p {
    padding: 30px;
    word-break: break-all;
  }
  main .formation .long {
    background-color: #fff;
    border-radius: 10px;
  }
  main .formation .long li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  main .formation .long li a {
    text-decoration: none;
    color: #000;
  }
  main .formation .long .longue p {
    padding: 30px;
    margin-top: 50px;
    word-break: break-all;
  }
  main .formation .long ul li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  main .formation .long ul li a {
    text-decoration: none;
    color: #000;
  }
  main .contact {
    display: flex;
    flex-direction: column;
    margin: 3em 2em;
  }
  main .contact .formulaire {
    width: 37.5em;
    margin-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0.0549019608);
    padding: 20px;
  }
  main .contact .formulaire .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .contact .formulaire .form span {
    display: flex;
    flex-direction: column;
  }
  main .contact .formulaire .form span input {
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #5c5a5a;
  }
  main .contact .formulaire .form span textarea {
    height: 5em;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #5c5a5a;
  }
  main .contact .formulaire .form .btn {
    width: 5em;
    border: 1px solid green;
    color: green;
    margin: 1em 12em;
  }
  main .contact .formulaire .form .btn:hover {
    background-color: green;
    color: #fff;
  }
}
@media screen and (max-width: 599px) {
  main .presentation {
    margin-top: 3rem;
    border-radius: 10px;
  }
  main .presentation .titreMain {
    padding: 10px;
  }
  main .presentation .titreMain p {
    text-indent: 5%;
  }
  main .presentation .imgPresent {
    display: flex;
    flex-wrap: wrap;
  }
  main .presentation .imgPresent img {
    width: 60%;
    border-bottom-left-radius: 10px;
  }
  main .presentation .imgPresent p {
    margin-left: 10px;
    padding: 0 10px;
    text-indent: 10%;
    word-break: break-all;
  }
  main .formation {
    display: flex;
    flex-wrap: wrap;
  }
  main .formation .form {
    margin-top: 1em;
  }
  main .formation .button-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  main .formation .button-wrapper .gradient-border-button {
    position: relative;
    padding: 1.2rem 2.4rem;
    font-size: 1.1rem;
    color: white;
    background: #1e293b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  main .formation .button-wrapper .gradient-border-button::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg, #60a5fa, #4206f4, #60a5fa);
    border-radius: 10px;
    z-index: -1;
    transition: opacity 0.3s ease;
    animation: borderRotate 4s linear infinite;
  }
  @keyframes borderRotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  main .formation .button-wrapper .gradient-border-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(96, 165, 250, 0.4);
  }
  main .formation .button-wrapper img {
    padding: 30px;
    width: 40%;
  }
  main .formation .courtes {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  main .formation .courtes p {
    padding: 30px;
    word-break: break-all;
    text-align: center;
  }
  main .formation .long {
    background-color: #fff;
    border-radius: 10px;
  }
  main .formation .long li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  main .formation .long li a {
    text-decoration: none;
    color: #000;
  }
  main .formation .long .longue p {
    padding: 30px;
    margin-top: 50px;
    word-break: break-all;
  }
  main .formation .long ul li {
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  main .formation .long ul li a {
    text-decoration: none;
    color: #000;
  }
  main .contact {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 2em;
  }
  main .contact .formulaire {
    width: 23.5em;
    margin-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0.0549019608);
    padding: 20px;
  }
  main .contact .formulaire .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .contact .formulaire .form span {
    display: flex;
    flex-direction: column;
  }
  main .contact .formulaire .form span input {
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #5c5a5a;
  }
  main .contact .formulaire .form span textarea {
    height: 5em;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 0 10px;
    color: #5c5a5a;
  }
  main .contact .formulaire .form .btn {
    width: 5em;
    border: 1px solid green;
    color: green;
    margin: 1em 12em;
  }
  main .contact .formulaire .form .btn:hover {
    background-color: green;
    color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    width: 100%;
    height: 3.5em;
    text-align: center;
  }
  footer p {
    height: 3em;
    font-size: 0.7em;
    color: rgba(108, 100, 100, 0.4235294118);
  }
  footer .sociaux {
    width: 100%;
    height: 5.5em;
    background: #444;
    top: 0;
  }
  footer .sociaux ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
  }
  footer .sociaux ul li {
    list-style-type: none;
  }
  footer .sociaux ul li a {
    text-decoration: none;
    color: #000;
  }
  footer .sociaux ul li a span {
    margin: 0 25px;
    color: #fff;
  }
  footer .contentPart {
    position: relative;
    width: 320px;
    height: 35vh;
    margin: 100px auto 0 auto;
    perspective: 1500px;
  }
  footer .contentPart .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
  }
  footer .contentPart .carousel .carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
  }
  footer .contentPart .carousel .carousel__face span {
    margin: auto;
    font-size: 2rem;
  }
  footer .contentPart .carousel .carousel__face:nth-child(1) {
    background-image: url(../../.././public/img/partenaires/actiris.png);
    transform: rotateY(0deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(2) {
    background-image: url(../../.././public/img/partenaires/aws.png);
    transform: rotateY(40deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(3) {
    background-image: url(../../.././public/img/partenaires/bru-form.png);
    transform: rotateY(80deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(4) {
    background-image: url(../../.././public/img/partenaires/google.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(120deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(5) {
    background-image: url(../../.././public/img/partenaires/meta.png);
    transform: rotateY(160deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(6) {
    background-image: url(../../.././public/img/partenaires/microsoft.png);
    transform: rotateY(200deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(7) {
    background-image: url(../../.././public/img/partenaires/paribas.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(240deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(8) {
    background-image: url(../../.././public/img/partenaires/proximus.png);
    transform: rotateY(280deg) translateZ(430px);
    background-color: #dedfe0;
  }
  footer .contentPart .carousel .carousel__face:nth-child(9) {
    background-image: url(../../.././public/img/partenaires/pwc.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(320deg) translateZ(430px);
    background-color: #dedfe0;
  }
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  footer {
    width: 100%;
    height: 3.5em;
    text-align: center;
  }
  footer .contentPart {
    display: none;
  }
  footer h3 {
    display: none;
  }
  footer p {
    height: 3em;
    font-size: 0.7em;
    color: rgba(108, 100, 100, 0.4235294118);
  }
  footer .sociaux {
    width: 100%;
    height: 5.5em;
    background: #444;
    top: 0;
  }
  footer .sociaux ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
  }
  footer .sociaux ul li {
    list-style-type: none;
  }
  footer .sociaux ul li a {
    text-decoration: none;
    color: #000;
  }
  footer .sociaux ul li a span {
    margin: 0 25px;
    color: #fff;
  }
}
@media screen and (max-width: 599px) {
  footer {
    width: 100%;
    height: 3.5em;
    text-align: center;
  }
  footer .contentPart {
    display: none;
  }
  footer h3 {
    display: none;
  }
  footer p {
    height: 3em;
    font-size: 0.7em;
    color: rgba(108, 100, 100, 0.4235294118);
  }
  footer .sociaux {
    width: 100%;
    height: 5.5em;
    background: #444;
    top: 0;
  }
  footer .sociaux ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
  }
  footer .sociaux ul li {
    list-style-type: none;
  }
  footer .sociaux ul li a {
    text-decoration: none;
    color: #000;
  }
  footer .sociaux ul li a span {
    color: #fff;
  }
}

/*# sourceMappingURL=app.css.map */
