@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap')
@media screen and (min-width: 1024px)
    main
        width: 100%
        height: auto
        background-image: url(../../.././public/img/DALLE_1.webp)
        background-repeat: no-repeat
        background-size: cover
        // background-position-y: 3rem
        overflow: hidden
        section
            margin: 0
            .cards
                display: flex
                justify-content: center
                align-items: center
                gap: 1.5em
                // background-color: #dedfe0
                margin: 0 5em
                // margin-bottom: 3em
                
                    
                //section avec les cartes    
                .card-container 
                    background-color: #ffffff
                    border-radius: 5px
                    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75)
                    color: #B3B8CD
                    padding-top: 30px
                    position: relative
                    width: 250px
                    max-width: 100%
                    height: 30em
                    text-align: center
                    margin: 3em 0
                    
                    .round 
                        width: 5em
                        border: 1px solid #03BFCB
                        border-radius: 50%
                        padding: 7px
                        
                    .buttons

                    .primary 
                        background-color: #454545
                        border: 1px solid #4a4f50
                        border-radius: 3px
                        color: #fff
                        font-family: "Montserrat", sans-serif
                        font-weight: 500
                        padding: 10px 25px
                        border-radius: 25px
                    .primary:active
                        border: 3px inset #03BFCB
                        background-color: #224d69


                    .skills 
                        background-color: #ffffff
                        text-align: left
                        padding: 15px
                        margin-top: 30px
                        border-bottom-left-radius: 10px
                        border-bottom-right-radius: 10px

                        ul 
                            list-style-type: none
                            margin: 0
                            padding: 0   

                            li 
                                border: 1px solid #2D2747
                                border-radius: 2px
                                display: inline-block
                                font-size: 12px
                                margin: 0 7px 7px 0
                                padding: 7px

        // section accordion
        .containers
            margin: 0 auto
            padding: 4.5rem
            width: 60rem
            background-color: #dedfe0
            border-radius: 10px
            
            .accordion
                .accordion-item
                    border-bottom: 1px solid #e5e5e5
                    padding-left: 1em
                    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75)
                    button[aria-expanded='true'] 
                        border-bottom: 1px solid #03b5d2
                        

                    button
                        border-bottom: 1px solid #03b5d2
                        position: relative
                        display: block
                        text-align: left
                        width: 100%
                        padding: 1em 0
                        color: #7288a2
                        font-size: 1.15rem
                        font-weight: 400
                        border: none
                        background: none
                        outline: none
                        
                        &:hover, &:focus 
                            cursor: pointer
                            color: #03b5d2
                        &::after 
                            cursor: pointer
                            color: #03b5d2
                            // border: 1px solid #03b5d2
                            content: '+'
                            display: inline-block
                            position: absolute
                            right: .95em
                            bottom: .6em
                            font-size: 1.5rem
                            color: #7288a2

                        &[aria-expanded='true']::after
                            content: '°°'
                            top: .6em
                            right: .9em
                            color: #03b5d2

                        .accordion-title 
                            padding: 1em 1.5em 1em 0
                        
                        .icon
                            display: inline-block
                            position: absolute
                            top: 18px
                            right: 0
                            width: 22px
                            height: 22px
                            border: 1px solid
                            border-radius: 22px
                            margin-right: 1em

                        button
                            color: #03b5d2
                        .icon 
                            &::after 
                                width: 0

                    .accordion-content
                        opacity: 1
                        max-height: 9em
                        transition: all 200ms linear
                        will-change: opacity, max-height
                        
                    

                    .accordion-content 
                        opacity: 0
                        max-height: 0
                        overflow: hidden
                        transition: opacity 200ms linear, max-height 200ms linear
                        will-change: opacity, max-height
                        p 
                            font-size: 1rem
                            font-weight: 300
                            color: #000

                    &[aria-expanded="true"]
                    .accordion-content
                        opacity: 1
                        height: 9em


@media screen and (min-width: 600px) and (max-width: 1023px)
    main
        width: 100%
        height: auto
        background-image: url(../../.././public/img/DALLE_1.webp)
        background-repeat: no-repeat
        background-size: cover
        // background-position-y: 3rem
        overflow: hidden
        section
            margin: 0
            .cards
                display: flex
                justify-content: center
                align-items: center
                gap: 1.5em
                // background-color: #dedfe0
                margin: 0 1em
                // margin-bottom: 3em
                
                    
                //section avec les cartes    
                .card-container 
                    background-color: #ffffff
                    border-radius: 5px
                    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75)
                    color: #B3B8CD
                    padding-top: 30px
                    position: relative
                    width: 250px
                    max-width: 100%
                    height: 30em
                    text-align: center
                    margin: 3em 0
                    
                    .round 
                        width: 5em
                        border: 1px solid #03BFCB
                        border-radius: 50%
                        padding: 7px
                        
                    .buttons

                    .primary 
                        background-color: #454545
                        border: 1px solid #4a4f50
                        border-radius: 3px
                        color: #fff
                        font-family: "Montserrat", sans-serif
                        font-weight: 500
                        padding: 10px 25px
                        border-radius: 25px
                    .primary:active
                        border: 3px inset #03BFCB
                        background-color: #224d69


                    .skills 
                        background-color: #ffffff
                        text-align: left
                        padding: 15px
                        margin-top: 30px
                        border-bottom-left-radius: 10px
                        border-bottom-right-radius: 10px

                        ul 
                            list-style-type: none
                            margin: 0
                            padding: 0   

                            li 
                                border: 1px solid #2D2747
                                border-radius: 2px
                                display: inline-block
                                font-size: 12px
                                margin: 0 7px 7px 0
                                padding: 7px

        // section accordion
        .containers
            margin: 0 auto
            padding: 1.5rem
            // width: 60rem
            background-color: #dedfe0
            border-radius: 10px
            
            .accordion
                width: 45em
                .accordion-item
                    border-bottom: 1px solid #e5e5e5
                    padding-left: 1em
                    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75)
                    button[aria-expanded='true'] 
                        border-bottom: 1px solid #03b5d2
                        

                    button
                        border-bottom: 1px solid #03b5d2
                        position: relative
                        display: block
                        text-align: left
                        width: 100%
                        padding: 1em 0
                        color: #7288a2
                        font-size: 1.15rem
                        font-weight: 400
                        border: none
                        background: none
                        outline: none
                        
                        &:hover, &:focus 
                            cursor: pointer
                            color: #03b5d2
                        &::after 
                            cursor: pointer
                            color: #03b5d2
                            content: '+'
                            display: inline-block
                            position: absolute
                            right: 0.95em
                            bottom: 0.8em
                            font-size: 1.5rem
                            color: #7288a2

                        &[aria-expanded='true']::after
                            content: '°°'
                            top: .6em
                            right: .9em
                            color: #03b5d2

                        .accordion-title 
                            padding: 1em 1.5em 1em 0
                        
                        .icon
                            display: inline-block
                            position: absolute
                            top: 18px
                            right: 0
                            width: 22px
                            height: 22px
                            border: 1px solid
                            border-radius: 22px
                            margin-right: 1em

                        button
                            color: #03b5d2
                        .icon 
                            &::after 
                                width: 0

                    .accordion-content
                        opacity: 1
                        max-height: 9em
                        transition: all 200ms linear
                        will-change: opacity, max-height
                        
                    

                    .accordion-content 
                        opacity: 0
                        max-height: 0
                        overflow: hidden
                        transition: opacity 200ms linear, max-height 200ms linear
                        will-change: opacity, max-height
                        p 
                            font-size: 1rem
                            font-weight: 300
                            color: #000

                    &[aria-expanded="true"]
                    .accordion-content
                        opacity: 1
                        height: 9em



@media screen and (max-width: 599px)
    main
        width: 100%
        height: auto
        background-image: url(../../.././public/img/DALLE_1.webp)
        background-repeat: no-repeat
        background-size: cover
        // background-position-y: 3rem
        overflow: hidden
        section
            margin: 0
            .cards
                display: flex
                flex-wrap: wrap
                justify-content: center
                align-items: center
                gap: 1.5em
                // background-color: #dedfe0
                margin: 0 1em
                // margin-bottom: 3em
                
                    
                //section avec les cartes    
                .card-container 
                    background-color: #ffffff
                    border-radius: 5px
                    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75)
                    color: #B3B8CD
                    padding-top: 30px
                    position: relative
                    width: 250px
                    max-width: 100%
                    height: 30em
                    text-align: center
                    margin: 3em 0
                    
                    .round 
                        width: 5em
                        border: 1px solid #03BFCB
                        border-radius: 50%
                        padding: 7px
                        
                    .buttons

                    .primary 
                        background-color: #454545
                        border: 1px solid #4a4f50
                        border-radius: 3px
                        color: #fff
                        font-family: "Montserrat", sans-serif
                        font-weight: 500
                        padding: 10px 25px
                        border-radius: 25px
                    .primary:active
                        border: 3px inset #03BFCB
                        background-color: #224d69


                    .skills 
                        background-color: #ffffff
                        text-align: left
                        padding: 15px
                        margin-top: 30px
                        border-bottom-left-radius: 10px
                        border-bottom-right-radius: 10px

                        ul 
                            list-style-type: none
                            margin: 0
                            padding: 0   

                            li 
                                border: 1px solid #2D2747
                                border-radius: 2px
                                display: inline-block
                                font-size: 12px
                                margin: 0 7px 7px 0
                                padding: 7px

        // section accordion
        .containers
            margin: 0 auto
            padding: 1.5rem
            // width: 60rem
            background-color: #dedfe0
            border-radius: 10px
            
            .accordion
                width: 25em
                .accordion-item
                    border-bottom: 1px solid #e5e5e5
                    padding-left: 1em
                    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75)
                    button[aria-expanded='true'] 
                        border-bottom: 1px solid #03b5d2
                        

                    button
                        border-bottom: 1px solid #03b5d2
                        position: relative
                        display: block
                        text-align: left
                        width: 100%
                        padding: 1em 0
                        color: #7288a2
                        font-size: 1.15rem
                        font-weight: 400
                        border: none
                        background: none
                        outline: none
                        
                        &:hover, &:focus 
                            cursor: pointer
                            color: #03b5d2
                        &::after 
                            cursor: pointer
                            color: #03b5d2
                            content: '+'
                            display: inline-block
                            position: absolute
                            right: 0.95em
                            bottom: 1.9em
                            font-size: 1.5rem
                            color: #7288a2

                        &[aria-expanded='true']::after
                            content: '°°'
                            top: .6em
                            right: .9em
                            color: #03b5d2

                        .accordion-title 
                            padding: 1em 1.5em 1em 0
                        
                        .icon
                            display: inline-block
                            position: absolute
                            top: 18px
                            right: 0
                            width: 22px
                            height: 22px
                            border: 1px solid
                            border-radius: 22px
                            margin-right: 1em

                        button
                            color: #03b5d2
                        .icon 
                            &::after 
                                width: 0

                    .accordion-content
                        opacity: 1
                        max-height: 9em
                        transition: all 200ms linear
                        will-change: opacity, max-height
                        
                    

                    .accordion-content 
                        opacity: 0
                        max-height: 0
                        overflow: hidden
                        transition: opacity 200ms linear, max-height 200ms linear
                        will-change: opacity, max-height
                        p 
                            font-size: 1rem
                            font-weight: 300
                            color: #000

                    &[aria-expanded="true"]
                    .accordion-content
                        opacity: 1
                        height: 9em
